body {
	color: white;
	background-color: #aa2626;
}

.title > h1 {
	float: right;
	font-family: 'Vidaloka', serif;
	font-size: 64px;
	text-shadow: 2px 2px 2px #333;
	-webkit-margin-before: 10px;
}

.content {
	margin: auto;
	overflow: hidden;
	padding: 15px;
	width: 950px;
}

a {
	color: #aa2626;
	text-shadow: none;
}

code {
	font-style: bold;
	text-shadow: none;
}

.title {
	margin: 10px;
	position: relative;
}

.title > * {
	display: inline;
}

.title > .tagline {
	bottom: 1px;
	position: absolute;
	right: 1px;
}

.bodyblock {
	background-color: #fff;
	color: #333;
	border-radius: 5px;
	-moz-box-shadow:    inset 0 0 10px #000;
   	-webkit-box-shadow: inset 0 0 10px #000;
   	box-shadow:         inset 0 0 10px #000;
	padding: 15px;
	margin-top: 30px;
}

.sidebyside {
	width: 1700px;
}