body {
	background: #ddd url('/static/stripes.png');
}

a:link    { color:#666; text-decoration:none; }
a:visited { color:#666; text-decoration:none; }
a:hover   { color:#000; text-decoration:underline; }
a:active  { color:#666; text-decoration:none; }

#notification_area {
	background-color: #fe0;
	border-radius: 5px;
	font-weight: bold;
	margin: 10px auto;
	padding: 5px;
	top: 2px;
	width: 850px;
}

.container {
	background-color: white;
	box-shadow: 5 5 5 ;
	margin: auto;
	overflow: hidden;
	padding: 0px;
	width: 850px;
}

.shadow {
  -moz-box-shadow:    0px 0px 10px 5px #ddd;
  -webkit-box-shadow: 0px 0px 10px 5px #ddd;
  box-shadow:         0px 0px 10px 5px #ddd;
}

.repocontainer {
	padding: 15px;
	padding-top: 5px;
	position: relative;
}

.profile {
	border-bottom: 3px dashed #aaa;
	margin: 0px;
	padding: 0px;
}

.profile * {
	float: left;
}

.profile .picture {
	margin: 10px;
}

.profile .name a {
	color: #a33;
	font-family: serif;
	font-size: 40px;
}

.profile .username {
	color: #a33;
	font-family: serif;
	font-size: 30px;
}

.norepos {
	margin: 10px;
}

.unique_languages {
	float: right;
	margin: 20px;
}

.repo_slideshow_container {
	height: 410px;
}

.repo_slideshow {
	clear: both;
	float: none;
	width: 500000px;
	height: 400px;
	position: absolute;
	left: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.repo_summary {
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	float: left;
	height: 200px;
	padding: 5px;
	position: relative;
	margin: 0px;
	width: 263px;
}

.repo_detail {
	border-bottom: 1px solid #ddd;
	cursor: pointer;
	float: left;
	padding: 0px;
	position: relative;
	margin: 0px;
	width: 850px;
}

.language_icon {
	bottom: 2px;
	position: absolute;
	right: 2px;
}

.info {
	bottom: 2px;
	display: none;
	padding: 2px;
	position: absolute;
	right: 2px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
	text-align: center;
}

.info > .body {
	padding: 10px;
}

.scrollcontainer {
	height: 290px;
	padding: 5px;
	overflow: auto;
}

.commit_messages {
	float: left;
	width: 45%;
}

.commit_message {
	font-style: italic;
}

.comments {
	float: right;
	width: 45%;
}

.detail_header {
	background-color: #aa3838;
	color: white;
	padding: 5px
}

.detail_header > .statistics {
	float: left;
	height: 50px;
	padding: 5px;
	width: 48%;
}

.detail_header a {
	color: white;
}

.detail_header .repo_name {
	font-size: 40px;
	font-weight: bold;
	margin: 0px;
}