<html>
  <head>
    {% block extra_head_tags %}{% endblock %}
    <title>{% block title %}Git Showcase{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <link rel="shorcut icon" href="/favicon.ico" />
    {% block stylesheets %}{% endblock %}
    {% block javascript %}{% endblock %}
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32539923-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </head>
  <body>
    {% block body %}{% endblock %}
    <div class="footer">
      <p>&copy; 2012 David Ackerman</p>
    </div>
    <!-- UserVoice -->
    <script type="text/javascript">
      var uvOptions = {};
      (function() {
        var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
        uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/nXuZFy9YafHMMzIHOeDAdw.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();
    </script>
  </body>
</html>