{% extends "base.html" %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link href='http://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

	<div class="content">
		<div class="title">
			<img src="/static/logo/gitshowcase-100.png" /><h1>Git Showcase</h1>
			<span class="tagline">Making your Github work for you.</span>
			<div style="clear:both;float:none"></div>
		</div>
		<div class="bodyblock">
			<h2>Problem</h2>
			<p>You want to link to your Github repository, but have a lot of small or abandoned projects showing up. You've also built a few really <em>awesome</em> projects, but they show up toward the bottom of your repository list.  Are potential employers going to look way down there? Probably not.</p>
			<p><b>That's where Git Showcase comes in.</b></p>
		</div>
		<div class="bodyblock">
			<h2>Solution</h2>
			<p><b>Here's a comparison against Github itself.</b></p>
			<p>Github's UI has several purposes - most of them are utilitarian. You want to see your repositories so you can edit them or handle issues as a developer. However, our UI is specifically designed to be presentable to people unfamiliar with your projects, and potentially unfamiliar with developement.</p>
			<hr />
			<img src="/static/screenshots/comparison.png" />
		</div>
		<div class="bodyblock">
			<h2>Get started for free! Just go to <code>githubshowcase.com/&lt;your-username&gt;</code>, or check out mine at
				<a href="/dackerman">githubshowcase.com/dackerman</a>
			</h2>
		</div>
	</div>
{% endblock %}