<div class="detail_header">
	{# Name and Language Icon #}
	<div>
		<a class="repo_name" href="{{ repo.url() }}" >{{ repo.name() }}</a>
	</div>
	
	{# Repository Statistics #}
	<div class="statistics">
		{% if repo.followers() %}<div>
			<strong>{{ repo.followers() }}</strong> followers
		</div>{% endif %}
		{% if repo.forks() %}<div>
			<strong>{{ repo.forks() }}</strong> forks
		</div>{% endif %}
		<div>{% set commits = repo.number_of_commits() %}
			 {% set user_commits = repo.number_of_commits_by_user(user.username()) %}
			<strong>{{ commits }}</strong> commits
			{% if commits != user_commits %}
				(<strong>{{ user_commits }}</strong> by {{ user.firstname() }})
			{% else %}
				(all by {{ user.firstname() }})
			{% endif %}
		</div>
	</div>
	
	{# Repo Description #}
	{% if repo.description() %}
		<div class="statistics"><em>"{{ repo.description() }}"</em></div>
	{% endif %}
    <div style="float:none;clear:both"></div>
</div>

<div class="scrollcontainer">
	{% if repo.readme() %}
		<h2>README:</h2>
		<p id="{{ repo.name() }}-readme">{{ repo.readme() }}</p>
		<script>
			var f = function() {
				var readme = document.getElementById("{{ repo.name() }}-readme").innerHTML;
				var converter = new Showdown.converter();
				document.getElementById("{{ repo.name() }}-readme").innerHTML = converter.makeHtml(readme);
			}();
		</script>
		<hr />
	{% endif %}

	{# Commit History #}
	<div class="commit_messages">
		<h2>Commits:</h2>
		{% for commit in repo.commits_by_user(user.username()) %}
			<p class="commit_message">"{{ commit.commit.message }}"</p>
		{% endfor %}
	</div>
	
	{# Comment History #}
	<div class="comments">
		{% if repo.comments() %}<h2>Comments:</h2>{% endif %}
		{% for comment in repo.comments() %}
			<p class="comment">
				{% if comment.path and comment.path != repo.name() %}
					On <code>{{ comment.path }}</code>:
				{% endif %}
				"{{ comment.body }}" by {{ comment.user.login }}
			</p>
		{% endfor %}
	</div>
</div>