<div class="language_icon">
  {% set language = repo.language() %}
  {% include 'language_icon.html' %}
</div>
<div class="title">
  <a href="{{ repo.url() }}" >{{ repo.name() }}</a>
</div>

{% if repo.description() %}
  <p><div><em>"{{ repo.description() }}"</em></div></p>
{% endif %}

<p>
  {% if repo.followers() %}
  <div>
    <strong>{{ repo.followers() }}</strong> followers
  </div>
  {% endif %}

  {% if repo.forks() %}<div>
    <strong>{{ repo.forks() }}</strong> forks
  </div>
  {% endif %}

  {% set commits = repo.number_of_commits() %}
  <div>
    {% set user_commits = repo.number_of_commits_by_user(user.username()) %}
    <strong>{{ commits }}</strong> commits
    {% if commits != user_commits %}
      (<strong>{{ user_commits }}</strong> by {{ user.firstname() }})
    {% else %}
      (all by {{ user.firstname() }})
    {% endif %}
  </div>
</p>