{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/static/showcase.css">
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/static/slideshow.js"></script>
  <script type="text/javascript" src="/static/showdown.js"></script>
{% endblock %}

{% block extra_head_tags %}
  {% if user.incomplete() %}
    <meta http-equiv="refresh" content="10">
  {% endif %}
{% endblock %}

{% block body %}

<div id="notification_area">
  We're adding features to the site weekly, so please give us suggestions using the feedback tab on the right side of the screen!
</div>

  <div class="container shadow">
    <div class="profile">
      <div class="unique_languages">
        {% for language in user.unique_languages() %}
            {% include 'language_icon.html' %}
        {% endfor %}
      </div>
      <img class="picture" src="{{ user.picture() }}" />
      <div>
        <span class="name">
          <a href="{{ user.url() }}">{{ user.name() }}</a>
        </span><br />
        <span class="followers">
          <b>@{{ user.username() }}</b>&nbsp;has {{ user.followers() }} followers
        </span>
      </div>
      <div style="float:none;clear:both"></div>
    </div>
    <div class="repocontainer">
      {% if not user.incomplete() %}
      {% set repos = user.repos_by_importance() %}
      <div class="repo_slideshow_container">
        <div id="slideshow" class="repo_slideshow">
          {% for repo in repos %}
            <div class="repo_detail">
              {%  include 'repo_detail.html' %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="repo_summaries">
        {% for repo in repos %}
          <div class="repo_summary" onclick="showcase.slideTo({{ loop.index }})">
            {% include 'repo_summary.html' %}
          </div>
        {% endfor %}
      </div>
      {% if not user.repos() %}
        <h2 class="norepos">There aren't any public repos for this user.</h2>
      {% endif %}
      <div style="float:none;clear:both"></div>
      {% else %}
        <p>Hi there, newcomer!</p>
        <p>We've sent out our GitHub gathering gnomes to get all the repos and commits for {{ user.name() }}, but they need a couple minutes.</p>
        <p>Please come back in a bit to see their handywork, or stick around as your page will be refreshing until the gnomes are done!</p>
      {% endif %}
    </div>
  </div>
{% endblock %}